.logo {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

.logo__text {
    margin-right: 5px;  
}

.logo__square {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4A90E2;
    border-radius: 3px;
}

.logo__square_size_small {
    width: 39px;
    height: 23px;
}

.logo__square_size_big {
    width: 62px;
    height: 22px;
}

.logo__square_postion_preview {
    position: absolute;
    top: 30px;
    left: 22px;
}

.logo__square_postion_content {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo__square_postion_popular-posts {
    position: absolute;
    top: 20px;
    left: 25px;
}

.logo__square_postion_most-popular {
    position: absolute;
    top: 20px;
    left: 20px;
}